@charset "UTF-8";

.WRAPPER{
    display: flex;
    flex-direction: row; /*preenche o espaço por linhas*/
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: auto; /*se colocar uma altura muito grande, a pag espalha o filhinhos, pq ve que tem muito espaço dísponivel*/
}

.boxLogo{
    width: 5%;
    height: 50px;
    background-color: rgb(0, 0, 0);
}

.tamanhoLogo{
    width: 100%;
    height: 60px;
}

.boxMenu{
    width: 95%;
    height: 50px;
    background-color: brown;
    letter-spacing: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.corMenu{
    background-color: rgb(114, 1, 1);
    border-radius: 0px 10px 0px 10px;
}

/*ROTATIVO*/
.boxBannerRotativo{
    width: 100%; 
    height:580px;
    background-image: url('../IMAGENS/banner2.jpg');
    background-size: cover;  
    background-position: center; 
    transition: background-image 0.5s ease-in-out; 
    text-align: right;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 2%;
}

.tamTexto{
    display: flex;
    flex-direction: row; /*preenche o espaço por linhas*/
    flex-wrap: wrap;
    align-items:flex-end;
    justify-content: right;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.boxBannerRotativo:hover{ /* imagem ao passar o mouse*/
    background-image: url('../IMAGENS/bannerestatico.jpg');
}

.boxPratos{
    width: 20%;
    height: 500px;
    background-color: rgb(222, 45, 45);
    margin: 1%; /*espaço entre as box*/
    padding: 1%; /*tamanho do quadrado vermelho*/
    border-radius: 0px 30px 0px 30px;
    text-align: center;
}

.tamanhoPratos{
    width: 100%;
    height: 300px;
    padding: 0px;
}

.zoom{
    transition: transform 0.3s ease; /*suaviza o efeito*/
}

.zoom:hover{
    transform: scale(1.1); /*quando passar o mouse, aumenta 20% ( 1 é de 100%)*/
}


h1{
    color: #000000;
    text-align: center;
}

p{
    color: #ffffff;
    text-align: center;
}

/*MENU*/
nav{
    max-width: 100%; /*retirando o estilo em lista*/
    height: 50px;
    background-color: #000000;
}

nav ul{
    list-style: none;
    margin: 0px; /* posição dentro do menu*/
    padding: 10px; /*posição dentro do menu*/
    text-align: center;
}

nav ul li{
    display: inline-block; /*blocos na mesma linha*/
    margin-right: 20px; /*distância entre botões*/
}

nav ul li a{
    padding: 10px; /*espaço entre o texto e a borda*/
    text-decoration: none; /*retira a linha abaixo dos links*/
    color: #ffffff;
    display: block;
    text-align: center;
}

nav ul li a:hover{
    background-color: #c78f27; /*cor quando passa o mouse por cima*/
    transition: all .5s;
    border-radius: 0px 10px 0px 10px;
    color: #000000;
}

.boxBannerEstatico{
    width: 100%;
    height: auto;
    margin-top: 2%;
}

.tamBannerEstatico{
    width: 100%;
    height: 400px;
}

.boxRedes{ 
    width: 100%;
    height: auto;
    background-color:rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

}

.tamBoxRedes{
    width: 2%;
    height: 30px;
}

.boxRodape{
    width: 100%;
    height: 40px;
    background-color: #000000;
    color:  #ffffff;
    text-align: center;
    padding-top: 20px;
}



/*PÁGINA CARDÁPIO*/

.zoom{
    transition: transform 0.3s ease; /*suaviza o efeito*/
}

.zoom:hover{
    transform: scale(1.1); /*quando passar o mouse, aumenta 20% ( 1 é de 100%)*/
}

.boxCardapio{
    display: flex;
    flex-direction: row; /*preenche o espaço por linhas*/
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(114, 1, 1);
    width: 20%;
    height: 250px;
    margin: 2%;
    padding: 1%;
    border-radius: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    letter-spacing: 0.20em;
    line-height: 1.6;

}

.imgCard{
    width: 100%;
    height: 200px;
    border-radius: 60px;
}

.hiCard{
    color: #ffffff;
    font-size: 20px;
}


.boxTexto{
    display: flex;
    flex-direction: row; /*preenche o espaço por linhas*/
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    background-color: rgb(31, 27, 27);
    width: 20%;
    height: 200px;
    border-radius: 20px;
    line-height: 1.6;

}

/*PÁGINA QUEM SOMOS*/
.boxbannerQ{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 700px;
    background-color: rgb(0, 0, 0);
    
}

.tamBoxBanner{
    width: 70%;
    height: 500px;
    border-radius: 10%;
    border-color: #c7b427;
    border: 100px;
}

.boxRestaurante{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    align-items: right;
    justify-content: right;
    width: 50%;
    height: 700px;
    background-color: rgb(0, 0, 0);

}

.boxImgRestaurante{  
    width: 30%;
    height: 15px;
    margin: 1%;
    background-color: rgb(0, 0, 0);
}

.tamImg{
    width: 80%;
    height: 300px;
}

/*CSS DA PÁGINA CONTATO*/

.boxbannerCont{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 700px;
    background-color: rgb(0, 0, 0);
    
}

.tamBoxBannerCont{
    width: 70%;
    height: 500px;
    border-radius: 10%;
    border-color: #c7b427;
    border: 100px;
}

.boxFormulario{
    width: 50%;
    background-color: #000000;
    color: #d91515;
  
}

input{ /*caixa para digitação*/
    border: none; /* retira as bordas da caixa de texto*/
    border-bottom: 2px solid #535252; /*bordar somente embaixo*/
    border-radius: 10px;
    outline: none; /*sem linhas externas*/
    padding: 8px 5px;
    width: 80%;
    height: auto;
    font-size: 1em;
    text-align: left;
    
}

textarea{
    border: none; /* retira as bordas da caixa de texto*/
    border-bottom: 2px solid #535252; /*bordar somente embaixo*/
    border-radius: 10px;
    outline: none; /*sem linhas externas*/
    padding: 8px 5px;
    width: 80%;
    font-size: 1em;
    text-align: justify;
}

form{
    margin: auto;
    background-color: rgb(114, 1, 1);
    width: 70%;
    border-radius: 30px;
    padding: 20px 0px 20px 20px;
    text-align: center;
    
}

.botaoEnviar{
    background-color: #c78f27;
    color: #ffffff;
    border-radius: 10px;
    width: 12%;

}








/*BREAKPOINTS - COR DA TELA EM DIFERENTES DISPOSITIVOS*/ 

@media (min-width: 376px) {
     body{ /*caixa com várias formatações*/
        background-color: rgb(162, 0, 255)
    }
}

@media (min-width: 576px){ /*tamanho da tela*/
    body{ /*caixa com várias formatações*/
        background-color: rgb(255, 0, 0);
    }
}

@media (min-width: 768px){ /*tamanho da tela*/
    body{ /*caixa com várias formatações*/
        background-color: rgb(0, 4, 255);
    }
}

@media (min-width: 992px){ /*tamanho da tela*/
    body{ /*caixa com várias formatações*/
        background-color: rgb(255, 230, 0);
    }
}

@media (min-width: 1200px){ /*tamanho da tela*/
    body{ /*caixa com várias formatações*/
        background-color: rgb(247, 0, 255);
    }
} 

/*BREAKPOINTS - TAMANHO DAS CAIXAS*/
@media screen and (min-width: 376px) {
    .boxPratos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
        height: auto;
        margin: 1%;
        background-color: rgb(162, 0, 255);
    }

    .boxMenu{
        font-size: 2.5vw;
        width: 100%;
        
    }

    .boxLogo{
        width: 30%;
        height: auto;
        padding: 1%;

    }

    .tamanhoLogo{
        width: 50%;
        height: auto;

    }
    
    .tamBoxRedes{
        width: 5%;
        height: auto;
    }

    .boxCardapio{
        width: 40%;
        height: auto;
        margin-top: 10%;
    }
    .boxTexto{
        width: 40%;
        height: auto;
        margin-top: 10%;
    }

    .boxbannerQ{
        width: 100%;
        height: auto;
        margin: 10%;
    }

    .boxbannerCont{
        width: 100%;
        height: auto;
        margin: 10%;
    }

    .boxFormulario{ 
    
    
}

@media screen and (min-width: 576px) {
    .boxPratos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
        height: auto;
        margin: 1%;
        background-color: rgb(255, 0, 0);
    }
    .boxMenu{
        font-size: 2.5vw;
        
    }

    .boxLogo{
        width: 15%;
        height: auto;
    
    }

    .tamanhoLogo{
        width: 100%;
        height: auto;
    }

    .tamBoxRedes{
        width: 5%;
        height: auto;
    }

        .boxCardapio{
        width: 40%;
        height: auto;
        margin-top: 10%;
    }
    .boxTexto{
        width: 40%;
        height: auto;
        margin-top: 10%;
    }

    .boxbannerQ{
        width: 100%;
        height: auto;
        margin: 10%;
    }

    .boxRestaurante{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    align-items: right;
    justify-content: right;
    width: 100%;
    height: 700px;
    }

    .boxbannerCont{
        width: 100%;
        height: auto;
        margin: 10%;
    }

}

@media screen and (min-width: 768px) {
    .boxPratos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 20%;
        margin-right: 5%;
        background-color: rgb(4, 0, 255);
    }

    .boxMenu{
        width: 90%;
        height: auto;
        font-size: 20px;
        margin: 10px;
    }

    .boxLogo{
        width: 15%;
        height: auto;
        padding: 1%;
    }

    .tamanhoLogo{
        width: 100%;
        height: auto;
    }

    .boxCardapio{
        width: 20%;
        height: auto;
        margin-top: 5%;
    }
    .boxTexto{
        width: 20%;
        height: auto;
        margin-top: 5%;
    }

     .boxbannerQ{
        width: 100%;
        height: auto;
        margin: 5%;
    }
}

@media screen and (min-width: 992px) {
    .boxPratos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 25%;
        margin-right: 1%;
        background-color: rgb(255, 230, 0);
    }

    .boxLogo{
        width: 6%;
        height: auto;
        padding: 1%;
    }

    .tamanhoLogo{
        width: 80%;
        height: auto;
    }

    .boxMenu{
        width: 90%;
        height: auto;
        font-size: 25px;
        margin: 10px;
    }

    .boxPratos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 20%;
        height: auto;
        margin: 1%;
        background-color: rgb(162, 0, 255);
    }

    .boxbannerQ{
        width: 100%;
        height: auto;
        margin: 5%;
    }
}

@media screen and (min-width: 1200px) {
    .boxPratos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 25%;
        margin-right: 1%;
        background-color: rgb(247, 0, 255);
    }

     .boxLogo{
        width: 5%;
        height: auto;
        padding: 1%;
    }

    .tamanhoLogo{
        width: 80%;
        height: auto;
    }

    .boxMenu{
        width: 90%;
        height: auto;
        font-size: 25px;
    }

    .tamBoxRedes{
        width: 3%;
        height: auto;
    }

    .boxPratos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 20%;
        height: auto;
        margin: 1%;
        background-color: rgb(162, 0, 255);
    }

    .boxbannerQ{
        width: 40%;
        height: auto;
        margin: 2%;
    }

    .boxRestaurante{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    align-items: right;
    justify-content: right;
    width: 50%;
    height: 700px;
    }
}